
body {
 background-color: rgb(27, 26, 26);
 color: white;
 font-family: 'Poppins', sans-serif;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

* {
  margin: 0;
  padding: 0
}